:root {
  --light-blue:#cae5ff;
  --acqua:#ACEDFF;
  --blue:#89BBFE;
  --gray:#6F8AB7;
  --brown:#615D6C;

  --outfit: 'Outfit', sans-serif;
}
body {
  height: 100vh;
  background: url(../img/pexels-matheus-viana.jpg) no-repeat center;
  background-size: cover;
  font-family: var(--outfit);
}