:root {
  --white: #ffffff;
  --light-blue:#cae5ff;
  --acqua:#ACEDFF;
  --blue:#89BBFE;
  --gray:#6F8AB7;
  --dark-gray:#4c4b53;

  --outfit: 'Outfit', sans-serif;
}
html {
  font-size: 62.5%;
  height: 100vh;
}
body {
  height: 100vh;
  background: url(../img/pexels-joão-jesus.jpg) no-repeat center;
  background-size: cover;
  background-color: #131313;
  font-family: var(--outfit);
}
.container {
  text-align: center;
  height:500px;
}