:root {
  --light-blue:#cae5ff;
  --acqua:#ACEDFF;
  --blue:#89BBFE;
  --gray:#6F8AB7;
  --brown:#615D6C;

  --outfit: 'Outfit', sans-serif;
}
body {
  height: 100vh;
  background-image: linear-gradient(90deg, var(--light-blue) , var(--acqua), var(--blue), var(--gray));
  font-family: var(--outfit);
}