.container__name {
  height: 120px;
  margin-top: 60px;
}
.container__name h1 {
  font-size: 5.5rem;
  color: var(--dark-gray);
}
.container__name h5 {
  font-size: 3rem;
  color: var(--gray);
}
@media (max-width:768px) {
  .container__name h5 {
    margin: 30px 0;
  }
}